.app {
    background-color: #f1f2f5;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0);
  opacity: 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0);
}