
.chat__message{
    display: flex;
    padding: 13px;
    position: relative;
    width: fit-content;
    background-color: greenyellow;
    border-radius: 12px;
}

.chat__message__body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 10px;
}
.chat__message__timestamp{
    display: flex;
    position: absolute;
    height: fit-content;
    font-size: 10px;
    bottom:2px;
    right: 8px;
}
.chat__message__sent{
    margin-left: auto;
}
.chat__message__received{

    background-color: hotpink;
    margin-right: auto;
}