.inbox {
  flex: 0.75;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
  height: calc(100vh - 55px);
  overflow: auto;
  top: 55px;

  background-color: #ffffff;
}

.inbox__navbar {
  flex: 0.1;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;

  position: sticky;

  padding: 10px 10px 10px 10px;
  justify-content: space-between;
  box-shadow: 0 3px 6px -6px black;
}

.inbox__navbarLeft {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.inbox__navbarLeft > p {
  margin-left: 10px;
  font-weight: 500;
}

.inbox__navbarRight {
  margin-right: 10px;
}

.inbox__navbarRight .MuiIconButton-root {
  padding: 5px;
  background-color: #dae6f1;
}

.inbox__navbarRight .MuiSvgIcon-root {
  font-size: 25px;
  color: #2e81f4;
  padding: 0;
}

.inbox__navbarRight--disable .MuiIconButton-root {
  background-color: #f0f2f5;
}

.inbox__navbarRight--disable .MuiSvgIcon-root {
  color: gray;
}

/* Body */

.inbox__bodyContainer {
  flex: 1;
  display: flex;
}

.inbox__body {
  height:calc(100vh - 175px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

/* Bottom */

.inbox__bottom {
  display: flex;
  flex: 0.1;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  justify-items: center;
}

.inbox__bottomInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline-width: 0;
  background-color: #f0f2f5;
  border-radius: 30px;
  width: 100%;
}

.inbox__bottomInput .MuiIconButton-root {
  padding: 2px;
  margin: 5px;
}

.inbox__bottomInput .MuiSvgIcon-root {
  font-size: 25px;
  color: #2e81f4;
  padding: 3px;
}

.inbox__bottomInput form {
  flex: 1;
  margin-left: 5px;
}

.inbox__bottomInput input {
  border: none;
  outline-width: 0;
  background-color: #eff2f5;
  font-size: 14px;
  width: 100%;
}

.submit--hidden {
  display: none;
}
