.inbox{
    display:flex;
    position: relative;
    flex:0.75;
    width: 100%;
    background-image: url("https://preview.redd.it/qwd83nc4xxf41.jpg?width=640&crop=smart&auto=webp&s=e82767fdf47158e80604f407ce4938e44afc6c25");
}
.inbox__navbar{
    display: flex;
    align-items: center;
    padding: 5px;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    background-color: azure;
}
.inbox__navbar__left{
    display: flex;
    margin-left:20px;
    align-items: center;
}
.inbox__navbar__left > p{
    margin-left: 20px;
}
.inbox__navbar__right{
    margin-right: 20px;
}
.inbox__input{
    display: flex;
    position: absolute;
    bottom: 5px;
    align-items: center;
    background-color: #eff2f5;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 33px;
    width: 95%;
    height: 30px;
}

.inbox__input > .MuiSvgIcon-root{
    font-size: 18px;
    color: grey;
}

.inbox__input > input{
    border: none;
    outline-width: 0;
    background-color: #eff2f5;
    border-radius: 33px;
    height: 25px;
    width: 100%
}