.sidebar{
    flex: 0.3;
    padding:0;
    z-index: 0;
    background-color: aqua;
}

.sidebar__info {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: azure;
    border-right: 1px solid #8888887b;
}
.sidebar__btn{
   /* display: flex; */
   align-content: center;
   align-items: center;
   width:33%;
   padding:10px 0;
   text-align: center;
   border-radius: 33px;
   cursor: pointer;
}
.sidebar__btn:hover {
    color: #fff;
    background-color: #2e81f4;
    transition-duration: 0.5s;
}
.message{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0px;
    justify-items: center;
    background-color: #000;
}

.message .message__input{
    display: flex;
    align-items: center;
    border: none;
    outline-width: 0;
    background-color: #eff2f5;
    border-radius: 33px;
    width:80%;
    height: 22px;
}
.message__input > input{
    margin-left: 10px;
    border: none;
    outline-width: 0;
    width:75%;
    background-color: #eff2f5;
}
.message > .MuiIconButton-root{
    font-size: 20px;
    color: grey;
}

.contact__info{
    margin-top: 10px;
}

.contact__info__item{
    display: flex;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.contact__info__item{
    margin: 0px 5px;
    padding:5px;
}

/* 
.sidebar__new > button {
    outline-width: 0;
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #2e81f4;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.sidebar__new > button:hover {
    background-color: #2972d8;
}

.sidebar__heading {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: center;
}

.sidebar__heading > p {
    font-weight: 600;
}

.sidebar__rows{
    padding: 5px 10px;
    flex: 0.3;
    z-index: 10;
}

.sidebar__error {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: center;
}

.sidebar__error > p {
    font-size: small;
    color: gray;
} */