.rightbar {
	padding: 25px 10px;
	flex: 0.3;
    /* z-index: 10; */
    /* border-left:1px solid #808080 ; */
	background-color: #eff2f5;
	display: flex;
    flex-direction: column;
    width: 100%;
}
.members{
    max-height: 500px;
    overflow:hidden;
    padding: 20px;
}
.members:hover{
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-right: 5px;
    scrollbar-track-color: #eff2f5;
}
.person{
    display: flex;
    align-items: center;
}