.createNewEvent {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    background-color: white;
    width: 550px;
}


/* New Event Top */

.createNewEvent__top {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 60px);
    border-bottom: 1px solid lightgray;
}

.createNewEvent__top p {
    color: #1a1919;
    font-size: 20px;
    font-weight: 700;
}

.createNewEvent__top > button {
    position:absolute;
    right: 15px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 100px;
    background-color: #f1f2f5;
}

.createNewEvent__top > button:hover {
    background-color: lightgray;
}


/* New Event Body */

.createNewEvent__body {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: calc(100% - 60px);
    box-shadow: 0 3px 6px -6px black inset;
    /* box-shadow: 0 -3px 6px -6px black inset; */
}

.createNewEvent__body .MuiFormControl-root {
    width: 100%;
}

.createNewEvent__bodyEntry {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 10px 20px;
    flex-direction: column;
}

.createNewEvent__bodyEntry > p{
    font-size: 12px;
    color: red;
}


/* New Event Bottom */

.createNewEvent__bottom {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 60px);
}

.createNewEvent__bottom > button {
    padding: 10px;
    border-radius: 10px;
    background-color: #2e81f4;
    color: white;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.createNewEvent__bottom > button:hover {
    background-color: #2972d8;
}