.event {
    display: flex;
    flex-direction: column;
    padding: 10px;

    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #E4E6EB;
}

.event__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event__top > p {
    color: #404144;
    font-size: 10px;
}

.event__bottom > p {
    color: #404144;
    font-size: 12.5px;
    font-weight: 700;
}