.homeLeftRow {
    display: flex;
    align-items: center;
    padding: 2px 10px;
    padding-left: 2px;
    cursor: pointer;
    justify-content: stretch;
}

.homeLeftRow:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.homeLeftRow > .MuiSvgIcon-root {
    padding: 10px;
    font-size: 25px;
    color: #2e81f4;
}

.homeLeftRow > p {
    margin-left: 10px;
    font-weight: 600;
}