.homeRight {
    padding: 30px 10px;
    flex: 0.33;
    z-index: 10;
    height: 80vh;
    overflow: auto;
    position: sticky;
    top: 60px;
}

.homeRight__info {
    color: #65676B;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/* Create New Option */

.homeRight__new {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-top: 10px;
}

.homeRight__new > button {
    border: none;
    outline-width: 0;
    border-radius: 10px;
    padding: 4px 8px;
    width: 100%;
    align-items: center;
    justify-content: stretch;
    color: #1a1919;
    text-transform: capitalize;
    cursor: pointer;
}

.homeRight__new > button .MuiSvgIcon-root {
    padding: 4px;
    margin: 4px 6px 4px 0;
    font-size: 20px;
    background-color: #E4E6EB;
    border-radius: 999px;
}

.homeRight__new > button:hover {
    background-color: lightgray;
}

.homeRight__new > button p {
    font-size: 15px;
    font-weight: 600;
}


/* Select Option */

.homeRight__select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    margin-top: 10px;
}

.homeRight__select > button {
    border-radius: 30px;
    padding: 4px 8px;
    width: 100%;
    align-items: center;
    color: #056BE1;
    background-color: #DAE6F1;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
}

.homeRight__select > button .MuiSvgIcon-root {
    padding: 4px;
    margin: 4px 6px 4px 0;
    font-size: 20px;
    background-color: #bfdaf1;
    border-radius: 999px;
}

.homeRight__select > button p {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.homeRight__select--disable > button {
    color: #1a1919;
    background-color: #E4E6EB;
}

.homeRight__select--disable > button .MuiSvgIcon-root {
    background-color: lightgray;
}

/* ### Select List ### */

.homeRight__selectList {
    padding: 10px 0;
    margin-top: 5px;
    margin-left: 15px;
    background-color: white;
    border-radius: 10px;
    width: 85%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    box-shadow: 5px 5px 7px -7px rgba(0,0,0,0.75);
}

.homeRight__selectList--disable {
    display: none;
}

.homeRight__selectListOption {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 90%;
    cursor: pointer;
}

.homeRight__selectListOption:hover {
    background-color: #E4E6EB;
}

.homeRight__selectListOption > p {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
}


/* Event List */

.homeRight__eventList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
