.wrapper{
    background-color: bisque;
    padding: 50px;
}
.profile__card{
    background: #fff;
    width:65%;
    margin: auto;
    padding: 20px;
    border-radius: 33px;
}
.profile__card__img{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.profile__card__img > img{
    height: 175px;
    width:175px;
    border-radius: 100%;
    border: 6px solid #eff2f5;
}
.profile__card__info{
    padding: 10px;
}
.profile__card__info__name{
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
    justify-content: center;
}
.profile__card__info__des{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}