.comment__body{
    position: absolute;
    width: 455.98px;
}
.comment__input{
    display: flex;
    align-items: center;
    background-color: indigo;
    border-radius: 10px;
    padding:2px 5px 2px 10px;
}
.comment__input input{
    border: none;
    outline-width: 0;
    width: 75%;
    height:20px;
}
.comment__input .MuiIconButton-root {
    padding: 2px;
    margin: 5px;
  }
  
  .comment__input .MuiSvgIcon-root {
    font-size: 22px;
    color: #2e81f4;
    padding: 3px;
  }
  
  .comment__body form {
    flex: 1;
    margin-left: 5px;
  }