.navbar{
    position: sticky;
    z-index: 10000;
    background-color: #FFF;
    display: flex;
    justify-content: space-evenly;
    box-shadow:0 1px 3px .3px #888888;
    top: 0;
    padding: 5px 15px;
}

.MuiSvgIcon-root{
    padding: 10px;
}

.navbar__info{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-left: 5px;
}

.navbar__info > h4{
    margin-left: 15px;
}


/* Navbar Left */

.navbar__left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar__left > .navbar__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 33px;
}

.navbar__input > input{
    border: none;
    outline-width: 0;
    background-color: #eff2f5;
    border-radius: 33px;
}

.navbar__input > .MuiSvgIcon-root{
    font-size: 20px;
}



/* Navbar Center */

.navbar__center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar__option{
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}

.navbar__option > .MuiSvgIcon-root{
    color: gray;
}

.navbar__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    border-bottom: none;
    align-items: center;
    padding: 0 20px;
}

.navbar__option:hover > .MuiSvgIcon-root{
    color: #2e81f4;
}

.navbar__option--active{
    border-bottom: 2px solid #2e81f4;
}

.navbar__option--active > .MuiSvgIcon-root {
    color: #2e81f4;
}

.navbar__option--active:hover{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px solid #2e81f4;
}


/* Navbar Right  */

.navbar__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar__right > .MuiSvgIcon-root{
    color: gray;
}

.navbar__settings {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.navbar__iconButton {
    padding: 0;
}